body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.image-container {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

.image-container img {
    width: auto;
    height: 100%;
    display: block;
    margin: 0 auto;
}
